*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo{
  font-size: 45px;
  font-weight: 900;
}
.text-center{
  text-align: center;
}
header{
  background-color: #FFF8F3;
  padding-top: 50px;
  background-image: url(image/developer.png), url(image/header_bg.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
nav{
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}
.menu li a{
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}
.btn{
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 18px 36px;
  cursor: pointer;
  margin-left: 10px;
}

/* banner */
.banner-content{
  max-width: 585px;
}
.banner-content h2{
 color: #474747;
 font-size: 45px;
 font-weight: 400;
}
.banner-content h2{
 color: #474747;
 font-size: 45px;
 font-weight: 600;
 margin-bottom: 5px;
}
.banner-content h1{
 color: #181818;
 font-size: 85px;
 font-weight: bold;
 margin-bottom: 20px;
}
.banner-content p{
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
.btn2{
  padding: 18px 35px;
  border: 1px solid #FD6E0A;
  color: #FD6E0A;
}
#banner{
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-img{
  width: 584px;
  height: 674px;
  vertical-align: middle;
}
#about, #skills, #resume{
  padding-top: 130px;
}
.about-container{
  margin: 0 auto;
  width: 71%;
  max-width: 1140px;
  background-color: #FFF8F3;
  padding: 131px 156px;
  border-radius: 10px;
}
.section-heading{
  text-align: center;
  max-width: 827px;
  margin: 0 auto;
}

.section-heading h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
.about-info{
  display: flex;
  justify-content: space-around;
}
.info-card p{
  color: #757575;
  font-size: 20px;
  line-height: 30px;
}
.info-card h4{
  color: #181818;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
.skills-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
.skills-box{
  border: none;
  padding: 0 230px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.skills-card{
  box-shadow: 0 6px 50px 0 #000000;
  border-radius: 5px;
  padding: 30px;
  text-align: justify;
  max-width: 267px;
}
.skills-card img{
  max-width: 44px;
  margin-bottom: 30px;
}
.skills-card h3{
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.skills-card p{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
.resume-container{
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0;
  display: flex;
  gap: 24px;
}
.resume-container hr{
  margin: 30px 0;
}
 .section-title{
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
}
.resume-card{
  max-width: 511px;
  margin-right: 47px;
}
.card-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}
.card-info{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #757575
}
.card-text{
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #757575
}

/* footer */
footer{
  /* width: 71%;
  max-width: 1140px; */
  background-color: #FFF8F3;
}
.social-container{
  margin-top: 130px;
  display: flex;
  padding: 130px 230px;
  gap: 117px;
  justify-content: space-around;
}
.social-container h2{
  font-size: 25px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.social-container p{
  font-size: 16px;
  line-height: 28px;
  color: #474747;
  margin-bottom: 30px;
}
/* .icons{
  
} */
.icons a{
  color: #FD6E0A;
  margin-right: 24px;
}
form input[type="text"], form input[type="email"], form textarea {
  width: 461px;
  border: none;
  border-radius: 5px;
  padding: 18px 30px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  color: #757575;
}